@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #C3E8BD;
}

header {
    background-color: #5B7553;
    padding: 50px;
    margin: 0;
}

header h1 {
    color: whitesmoke;
    font-size: 55px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0;
}

#nav-link {
    margin-right: 10px;
    text-align: center;
    font-weight: 500;
    color: #5B7553;
    text-decoration: none;
    font-family: 'Lora', serif;
    text-transform: uppercase;
}

#nav-link:hover {
    color: white;
    font-size: 20px;
    transition: ease-in .3s;
}

nav {
    text-align: center;
    background-color: #040403;
    padding: 20px;
}

footer {
    background-color: #5B7553;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 97.9%;
    font-family: 'Poppins', sans-serif;
}


section {
    margin-top: 25px;
    height: 75vh;
    text-align: center;
}

section article {
    background-color: #5B7553;
    width: 67%;
    float: left;
    margin-left: 15px;
    border-radius: 8px;
}



section article h2 {
    margin-left: 10px;
    color: white;
    font-family: 'Lora', serif;
}

article p {
    margin-left: 20px;
    font-family: 'Lora', serif;
    color: #C3E8BD;
    text-align: justify;
    margin-right: 15px;
    margin-bottom: 15px;
}

section article img {
    margin: 25px;
    width: 300px;
    height: 200px;
}


article h1 {
    color: white;
    font-family: 'Lora', serif;
    margin-top: 15px;
}


aside {
    background-color: #5B7553;
    width: 30%;
    float: right;
    margin-right: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 8px;
}

aside h1 {
    padding: 0;
    margin-bottom: 3px;
}

.links p {
    margin: 0;
    color: #5B7553;
    text-align: right;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: #C3E8BD;
    font-family: 'Lora', serif;
}

th, td {
    border: 1px solid black;
    border-radius: 110px;
    padding: 10px;
    text-align: center;
}